.App{
  text-align: center;
}

.box{
  max-width: 200px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16); 
  padding: 10px;
}

p{
  font-size: 18px;
  text-align: center;
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: #FFFFFF;
}

button.add{
  background-color: #18978f;
}

button.sub{
  background-color: #EB4747;
}

button.reset{
  background-color: #1f4fb4;
}